/* Base */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);

    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
    padding: 0;
}

/* Real Stuff */
#result {
    font-weight: 600;
    font-size: 2em;
}

#bitlist {
    font-weight: 300;
    gap: 10px;
    display: flex;
    width: max-content;
    flex-direction: column;
}

.bitrow {
    margin: 0;

    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bitlist * {
    margin: 0;
    user-select: none;
}

.bitlabel {
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;


    background-color: rgb(65, 51, 51);
    display: inline-block;
}

.bitinput {
    display: none;
}

.bitinput:checked + .bitlabel{
    background-color: rgb(50, 63, 50);
}